.head-title {
	margin-bottom: 20px;
	color: #4caf50;
	font-weight: bold;
	text-shadow: 1px 1px #2e7d32, 2px 2px #2e7d32, 3px 3px #2e7d32, 4px 4px #2e7d32,
		14px 14px 8px #999, 16px 16px 14px #999;
}

.subhead-title {
	color: #4caf50;
	font-weight: bold;
	text-shadow: 1px 1px #2e7d32, 2px 2px #2e7d32, 10px 10px 8px #999, 12px 12px 14px #999;
}
