.number-input {
	background-color: #ffffff;
	border-radius: 4px;
}

.checkbox {
	color: #2e7d32;
}

.gobutton {
	box-shadow: 1px 1px #2e7d32, 2px 2px #2e7d32, 3px 3px #2e7d32, 4px 4px #2e7d32, 14px 14px 8px #999,
		16px 16px 14px #999;
}
